.tc-container {
	position:absolute;
	right:0;
	top:0;
	height:100px;
	width:300px;
	padding-top:20px;
}

.horizontal-list {
	text-align:center;
	display:flex;
	align-items:center;
	flex-direction:row;
	vertical-align:center;
}

.horizontal-list div {
	display:flex;
	margin-left:5px;
	margin-right:5px;
	vertical-align:middle;
	flex-direction:row;
	text-align:center;
	align-self:center;
	font-size:30px;
	color:#333;
	padding-top:5px;
}

#project-div {
	display:flex;
	align-items:center;
	justify-content:center;
}